*{
    box-sizing: border-box
}
:root{
    font-size: 16px;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, p{
    margin: 0;
    font-weight: 500;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}