// Colors
$color-background: #F5F7FB;
$color-button: #4D5B9E;
$color-select: #D6DBF5;
$color-correct: #94D7A2;
$color-false: #F8BCBC;
$color-item-border: #4D5B9E;
$color-text: #293264;

// Responsive breakpoints

@mixin responsive($breakpoint) {
    @media screen and (max-width: $breakpoint){
        @content;
    }
}