.quiz{
    width: 100%;
    max-width: 700px;
}
.footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}