.question{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 0;
    border-bottom: 0.8px solid #DBDEF0;
    &_answers{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        &_label{
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Inter', sans-serif;
            font-size: 0.64rem;
            font-weight: 500;
            padding: 4px 16px;
            border: 1px solid #4D5B9E;
            border-radius: 8px;
            margin: 13px 13px 0 0;
        }
        &_input{
            list-style: none;
            appearance: none;
            margin: 0;
            &:checked + label{
                background-color: $color-select;
                border: none;
                padding: 5px 17px;
            }
        }
    }
}